{%- liquid
  assign target = product

  if use_variant
    assign target = product.selected_or_first_available_variant
  endif

  assign price = target.price | default: 1999
  assign compare_at_price = target.compare_at_price

  assign money_price = price | money
  assign money_compare_at_price = compare_at_price | money

  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_compare_at_price = compare_at_price | money_with_currency
  endif
-%}

<div aria-live="polite">
  <span>
    {%- if product.price_varies -%}
      From {{ money_price }}
    {%- else -%}
      {{ money_price }}
    {%- endif -%}
  </span>

  {%- if compare_at_price > price -%}
    <s>
      {{ money_compare_at_price }}
    </s>
  {%- endif -%}
</div>