<cart-note class="">
  <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
  <textarea
    class=""
    name="note"
    form="cart"
    id="Cart-note"
    placeholder="{{ 'sections.cart.note' | t }}"
  >{{ cart.note }}</textarea>
</cart-note>
