<div class="" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
  <small data-cart-item-error-text class="peer"></small>
  <span class="h-3 w-3 peer-empty:hidden items-center inline-flex">
    {{- 'icon__error.svg' | inline_asset_content -}}
  </span>
</div>
