{%- if item.line_level_discount_allocations != blank -%}
  <ul
    class="list-none"
    role="list"
    aria-label="{{ 'customer.order.discount' | t }}"
  >
    {%- for discount in item.line_level_discount_allocations -%}
      <li class="line-item__discount">
        <span class="h-4 w-4">
          {{- 'icon__discount.svg' | inline_asset_content -}}
        </span>
        {{ discount.discount_application.title }}
        (-{{ discount.discount_application.total_allocated_amount | money }})
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
