{% assign free_shipping_threshold = 50000 %}
{% assign remaining_for_goal = free_shipping_threshold | minus: cart.total_price %}
{% assign progress_width = cart.total_price | times: 100 | divided_by: free_shipping_threshold %}

<div class="block">
  <div class="flex items-center">
    <div class="text-sm uppercase font-bold"></div>
    {% if free_shipping_threshold > cart.total_price or cart.total_price == 0 %}
      <div class="text-sm">
        Nog
        <span class="font-bold">{{ remaining_for_goal | money }}</span>
        te gaan
      </div>
    {% else %}
      <div class="text-xs uppercase">goedzo</div>
    {% endif %}
  </div>
  <div class="w-full bg-gray-200 h-1 mt-2 rounded-full overflow-hidden">
    <div
      class="bg-black h-1 transition-all duration-300"
      style="width: {{ progress_width }}%;"
    ></div>
  </div>
</div>
