<wishlist-link>
  <a class="header__icon-button relative" href="/pages/wishlist">
    {{ 'icon__heart.svg' | inline_asset_content }}
    <span class="header__item-count" data-wishlist-count></span></a
></wishlist-link>
