<div class="container section-padding-md">
  <div class="text-center flex items-center flex-col gap-10">
    <div class="">
      <h1 class="text-9xl">{{ 'templates.404.subtext' | t }}</h1>
      <p class="text-2xl">{{ 'templates.404.title' | t }}</p>
    </div>
    <a href="{{ routes.all_products_collection_url }}" class="btn ">{{ 'general.continue_shopping' | t }}</a>
  </div>
</div>
