<div class="pt-40 lg:pt-80 pb-[62.5px] md:pb-[125px] lg:pb-[250px]">
  <div class="container">
    <div class="mx-auto w-full max-w-360">
      <h1 class="mb-[47px] max-w-200 text-5xl lg:text-8xl leading-[1.2em!important] font-playfair">
        {{ '404.title' | t }}
      </h1>
      <p>{{ '404.description' | t }}</p>
    </div>
  </div>
</div>
